/Etap3/STL_IMAGES_SB/
/Etap3/STL_IMAGES_SW/
/Etap3/STL_IMAGES_WB/
/Etap3/STL_IMAGES_WW/
/Etap3/STL_RENDERS1/
/Etap3/STL_RENDERS2/
/Etap3/STL_RENDERS3/
/Etap3/STL_RENDERS_SIMPLE_BG/
/Etap3/STL_RENDERS_SIMPLE_NOBG/
/Etap2.5/black_background_data_v2/
/Etap3/start.py
/Etap3/weights.best.hdf5
